.progressbar {
	background-color: blue !important;
	height: 5px !important;
}
.col-sm-6 {
	border: 1px solid black;
}
.fa-arrow-up {
	color: green;
}
.fa-arrow-down {
	color: red;
}
hr {
	border-color: black;
}

/*.custom-control.custom-switch input[type=checkbox]::before,
.custom-control.custom-switch input[type=checkbox]::after {
	border-color: red !important;
	background-color: red !important;
}

.custom-control.custom-switch input[type=checkbox]:checked::before,
.custom-control.custom-switch input[type=checkbox]:checked::after {
	border-color: orange !important;
	background-color: orange !important;	
}*/